<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/index" class="item">Home</a>
        <ul class="menu">
            <li><a href="/" class="item">ログアウト</a></li>
            <li><a href="/account" class="item"><%= userName %></a></li>
        </ul>
    </header>
    <main>
        <div class="main-container">
            <h1>ユーザー名</h1>
            <%= userName %>
            <form action="/delete" method="POST">
                <input type="submit" value="アカウント削除" class="deletebox">
            </form>
        </div>
    </main>
</body>
</html>