<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/index" class="item">Home</a>
        <ul class="menu">
            <li><a href="/" class="item">ログアウト</a></li>
            <li><a href="/account" class="item"><%= userName %></a></li>
        </ul>
    </header>
    <main>
        <nav></nav>
        <div class="main-container">
            <form action="/search-thread" method="post" class="thread">
                <p>スレッドタイトル</p>
                <input type="text" name="threadName" class="textbox">
                <input type="submit" value="スレッドを検索" class="button">
                <p><%= threadSearchError %></p>
            </form>
            <form action="/create-thread" method="post" class="thread">
                <p>スレッドタイトル</p>
                <input type="text" name="threadName" class="textbox">
                <input type="submit" value="スレッドを作成" class="button">
                <p><%= threadCreateError %></p>
            </form>
        </div>
        <aside></aside>
    </main>
    <footer></footer>
</body>
</html>