<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/" class="item">Top</a>
        <ul class="menu">
            <li><a href="/login" class="item">ログイン</a></li>
            <li><a href="/new" class="item">新規登録</a></li>
        </ul>
    </header>
    <main>
        <nav></nav>
        <div class="main-container">
        </div>
        <aside></aside>
    </main>
    <footer></footer>
</body>
</html>