<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/" class="header1">Top</a>
        <a href="/new" class="header2">新規登録</a>
        <a href="/login" class="header3">ログイン</a>
    </header>
    <main></main>
</body>
</html>