*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
}

.menu{
    display: flex;
}

.item{
    display: block;
    text-align: center;
    line-height: 50px;
    width: 150px;
    height: 50px;
    color: white;
}

main{
    display: flex;
    flex: 1;
}

.main-container{
    flex: 1;
    text-align: center;
}

.chat-box{
    width: 500px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.05);
}

nav{
    width: 200px;
}

aside{
    width: 200px;
}

footer{
    width: 100%;
    height: 100px;
}

.textbox{
    width: 300px;
    height: 30px;
    text-align: center;
    margin: auto;
}

.textbox2{
    width: 300px;
    height: 30px;
    text-align: center;
}

.thread{
    display: flex;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
}

.comment{
    display: flex;
    width: 400px;
    margin: auto;
}

.button{
    display: block;
    width: 140px;
    height: 40px;
    border-radius: 12%;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: auto;
    margin-top: 30px;
}

.button2{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 12%;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.h1{
    font-size: 20px;
}

@media screen and (max-width : 1100px){
    body{
        width: 100%;
    }
}